
  
  
  p{
    color:#ff00f0;
    margin-right:15px;
  }
   
   
    }
  
  h1{
   color:blue;
    border: 5px dotted red ;
   display: flex;
   justify-self: center;
  }

  #red{
    text-align: right
  }


  
   a{
    text-decoration:none;
  }
  
  
  #img{
   height: 300%;
    width: 300%; 
  }
  
   position: relative;
      display: inline-block;
    }

element.style {
}
@media screen and (max-width: 996px) {
    .accueil-introduction div {
        padding-right: 0;
        text-align: center;
        order: 2;
    }
}
.accueil-introduction div {
    padding-right: 80px;
}


div {
    display: block;
    unicode-bidi: isolate;
}
body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
}
